


#vkContainer {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; 	
}


layoutmobile .vkContainer {
	background:white;
}
layoutmobile .container {
}

.snap-content > div {
	height:100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	box-sizing:border-box;
	padding-top:52px;
	margin-left:-1px;
	margin-right:-1px;
	background:white;
	border-right:1px solid #333;
	border-left:1px solid #333;
}