.breadcrumb {
	padding:20px 0 0;
	background-color:white;
}

navigationmobile {
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	.snap-drawer{
		background-color: #222;
		> nav {
			background-color: #222;
			border-color: #222;
			.vkbrand {
				padding:6px 15px;
				color:white;
				line-height:40px;
				font-size:18px;
				border-bottom:1px solid #333;
				font-weight:500;
				img {
					max-height:38px;
					border:1px solid #666;
					float:right;
				}
			}
			a {
				border-left:0;
				border-right:0;
				border-color:#4C4C4C;
				background-color:#333;
				color:#EEE;
				&.list-group-item {
					border-radius:0;
				}
				&:hover {
					background-color:#222;
				}
				&.active {
					background-color:white;
					color:black;
					border-left:0;
					border-right:0;
					border-color:#666;
					&:hover {
						background-color:white;
						color:black;
						border-color:#666;
					}
				}
			}
		}
	}

	.breadcrumb {
		margin:0 -15px;
		padding:12px 15px;
		background-color:#222;
		border-radius:0;
		color:white;
	}


}

.navbar {
	margin-bottom: 0;
	.nav > li.vkNavLogDetails > a  {
		img {
			max-width:48px;
			margin: -16px 0 -14px 10px;
			border: 1px solid #e6e6e6;
		}
	}
}


