<h2>Sign up</h2>
<!--
<h4 class="centeredH" style="margin-top:1.5em;"><span>with your social account</span></h4>
<social></social>
<h4 class="centeredH" style="margin-top:1.5em;"><span>with a new app account</span></h4>
-->
<form>
	<div class="form-group">
		<label for="name">Full Name</label>
		<div>
			<input class="form-control" type="text" ng-model="signer.name" placeholder="Name"></div>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<div>
			<input class="form-control" type="text" ng-model="signer.email" placeholder="Email"></div>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<div>
			<input class="form-control" type="password" ng-model="signer.password" placeholder="Password"></div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="signUp(signer)">Sign up</button>
	</div>
</form>
