<div class="btn-group btn-group-justified">
	<a class="btn btn-primary btn-block" hm-tap="utils.externalHref(constants.ROOT_URL + '/auth/facebook', 'Facebook')">
		<i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Facebook
	</a>
	<a class="btn btn-primary btn-block" hm-tap="utils.externalHref(constants.ROOT_URL + '/auth/twitter', 'Twitter')">
		<i class="fa fa-twitter-square"></i>&nbsp;&nbsp;Twitter
	</a>
	<a class="btn btn-primary btn-block" hm-tap="utils.externalHref(constants.ROOT_URL + '/auth/google','Google')">
		<i class="fa fa-google-plus-square"></i>&nbsp;&nbsp;Google
	</a>
</div>
