<div ng-show="(user._id === rfcd.user)" class="articleOptions clearfix">
	<div style="padding-bottom:8px;">
		<div hm-tap="utils.locationPath('rfcd/' + rfcd._id + '/edit')" class="btn btn-default">
			<span class="glyphicon glyphicon-cog"></span>
		</div>
		<div hm-tap="deleteRfcd(rfcd)" class="btn btn-default">
			<span class="glyphicon glyphicon-remove"></span>
		</div>
	</div>
</div>
<h2 ng-bind="rfcd.name">Device</h2>
<p>
	<span ng-show="rfcd.mode == 'client'">Mode client</span>
	<span ng-show="rfcd.mode == 'server'" ng-bind="'Webserver ' + rfcd.host + ':' + rfcd.port"></span>
</p>
<p>{{rfcd.description}}</p>
<div style="clear:both"></div>
<form>
	<div class="form-group">
		<div ng-show="((rfcd.gpio.rpi.mode == 'server' && utils.isRpiConnected(rfcd.gpio.rpi)) || (rfcd.gpio.rpi.mode == 'client' && utils.isUserConnected(user)))" class="btn-group btn-group-justified">
			<div type="submit" class="btn btn-success btn-lg" ng-click="rfcdOutput(rfcd, 'on')">On</div>
			<div type="submit" class="btn btn-danger btn-lg" ng-click="rfcdOutput(rfcd, 'off')">Off</div>
		</div>
	</div>
</form>

