<div ng-show="(user._id === rpi.user)" class="articleOptions clearfix">
	<div style="padding-bottom:8px;">
		<div hm-tap="utils.locationPath('rpi/' + rpi._id + '/edit')" class="btn btn-default">
			<span class="glyphicon glyphicon-cog"></span>
		</div>
		<div hm-tap="deleteRpi(rpi)" class="btn btn-default">
			<span class="glyphicon glyphicon-remove"></span>
		</div>
	</div>
	<div ng-show="rpi.mode == 'client'">
		<a ng-show="!utils.isUserConnected(user)" hm-tap="utils.locationPath('')">
			<span class="glyphicon glyphicon-ban-circle"></span>
			Not connected to server
		</a>
		<a ng-show="utils.isUserConnected(user)" hm-tap="utils.locationPath('')">
			<span class="glyphicon glyphicon-transfer"></span>
			Connected to server
		</a>
	</div>
</div>
<h2 ng-bind="rpi.name">Device</h2>
<p>
	<span ng-show="rpi.mode == 'client'">Mode client</span>
	<span ng-show="rpi.mode == 'server'" ng-bind="'Webserver ' + rpi.host + ':' + rpi.port"></span>
</p>
<p ng-bind="'ID: ' + rpi._id"></p>
<p>{{rpi.description}}</p>
<div style="clear:both"></div>
<form ng-show="rpi.mode == 'server'">
	<div ng-show="!utils.isRpiConnected(rpi)" class="btn btn-success btn-lg btn-block" ng-click="connectRpi(rpi)">Connect to device</div>
	<div ng-show="iutils.sRpiConnected(rpi)" class="btn btn-danger btn-lg btn-block" ng-click="disConnectRpi(rpi)">Disconnect from device</div>
	<br />
</form>
<div class="clearfix">
	<div class="articleOptions">
		<div hm-tap="utils.locationPath('gpio/create')" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			Add pin
		</div>
	</div>
	<h4>&nbsp;</h4>
</div>
<ul class="list-group">
	<li ng-repeat="gpio in rpi.gpios" class="list-group-item">
		<div ng-show="(user._id === rpi.user)" class="articleOptions">
			<div hm-tap="utils.locationPath('gpio/{{gpio._id}}/edit')" class="btn btn-default">
				<span class="glyphicon glyphicon-cog"></span>
			</div>
			<div hm-tap="deleteGpio(gpio)" class="btn btn-default">
				<span class="glyphicon glyphicon-remove"></span>
			</div>
			<br/>
			<br/>
			<div hm-tap="utils.locationPath('gpio/{{gpio._id}}/show')" class="btn btn-primary btn-block">
				<span>Details</span>
			</div>
		</div>
		<p>
			<strong>{{gpio.name}}</strong>
		</p>
		<p>
			Pin {{gpio.pin}} - {{gpio.direction}}<br>
			{{gpio.description}}
		</p>
		<div style="clear:both"></div>
	</li>
</ul>
