<div class="snap-drawers">
	<div class="snap-drawer snap-drawer-left">
		<nav class="scrollable" role="navigation">
			<div class="vkbrand">
					Menu
			</div>
			<a hm-tap="utils.locationPath('')" class="list-group-item" ng-class="{active:utils.getLocationPath() == '/'}">Home</a>
			<div ng-show="user" style="clear:both">
					<a hm-tap="utils.locationPath('rpis')" class="list-group-item" ng-class="{active:utils.getLocationPath() == '/rpis'}">Devices</a>
					<a hm-tap="utils.locationPath('gpios')" class="list-group-item" ng-class="{active:utils.getLocationPath() == '/gpios'}">Pins</a>
			</div>
		</nav>
	</div>
	<div class="snap-drawer snap-drawer-right">
		<nav class="scrollable" role="navigation">
			<div ng-show="!user">
				<div class="vkbrand">User</div>
				<a hm-tap="utils.locationPath('user/signin')" class="list-group-item" ng-class="{active:utils.getLocationPath() == '/user/signin'}">Sign in</a>
				<a hm-tap="utils.locationPath('user/signup')" class="list-group-item" ng-class="{active:utils.getLocationPath() == '/user/signup'}">Sign up</a>
			</div>
			<div ng-show="user">
					<div class="vkbrand">{{user.name}}
						<img ng-src="{{user.photo}}" ng-show="user && !(user.facebook || user.twitter || user.google)">
						<img ng-src="{{user.facebook.photo}}" ng-show="user.facebook">
						<img ng-src="{{user.twitter.profile_image_url}}" ng-show="user.twitter">
						<img ng-src="{{user.google.picture}}" ng-show="user.google">
					</div>
					<a hm-tap="utils.locationPath('user/edit')" class="list-group-item" ng-class="{active:utils.getLocationPath() == '/user/edit'}">Settings</a>
					<a hm-tap="logout()" class="list-group-item">Sign out</a>
			</div>
		</nav>
	</div>
</div>